In [2]:
#import libraries
from docx import Document
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

I have a word file with 3 dataset tables.<br>
I will be extracting those tables using <code><b>docx</b></code> library.

In [3]:
#load the data,
doc = Document('data/pca_datasets.docx')

In [5]:
#taking the first table
table1 = doc.tables[0]
#Dictionary to store each table-column as one entry 
data_table={}

In [6]:
#Create a dictionary with column-header as key and remaining data in that column as list-of-values.
#e.g. {"Region":"['A', 'B',...]", "GDP":"[5.3, 2.2,...]"}
for column in table1.columns:
    col = [cell.text.strip().replace('\n', ' ') for cell in column.cells]
    data_table[col[0]] = col[1:]

In [8]:
df = pd.DataFrame(data_table)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Region                                   10 non-null     object
 1   GDP per capita (USD)                     10 non-null     object
 2   Unemployment Rate (%)                    10 non-null     object
 3   Education Expenditure per capita (USD)   10 non-null     object
 4   Healthcare Expenditure per capita (USD)  10 non-null     object
 5   Crime Rate (per 1000 inhabitants)        10 non-null     object
dtypes: object(6)
memory usage: 612.0+ bytes

In the code below, the column-names are being simplied for easier handling.  
The original & new name are present in table below:
<table style="border:2px solid black;">
    <tr style="border:1px solid black;">
        <th style="border:1px solid black;">Original colname</th>
        <th style="border:1px solid black;">New colname</th>
    </tr>
    <tr style="border:1px solid black;">
        <td style="border:1px solid black;">Region</td>
        <td style="border:1px solid black;">region</td>
    </tr>
    <tr style="border:1px solid black;">
        <td style="border:1px solid black;">GDP per capita (USD)</td>
        <td style="border:1px solid black;">gdp</td>
    </tr>
    <tr style="border:1px solid black;">
        <td style="border:1px solid black;">Unemployment Rate(%)</td>
        <td style="border:1px solid black;">umemploy_rate</td>
    </tr>
    <tr style="border:1px solid black;">
        <td style="border:1px solid black;">Education Expenditure per capita (USD)</td>
        <td style="border:1px solid black;">ed_expend</td>
    </tr>
    <tr style="border:1px solid black;">
        <td style="border:1px solid black;">Healthcare Expenditure per capita (USD)</td>
        <td style="border:1px solid black;">health_expend</td>
    </tr>
    <tr style="border:1px solid black;">
        <td style="border:1px solid black;">Crime Rate (per 1000 inhabitants)</td>
        <td style="border:1px solid black;">crime_rate</td>
    </tr>
</table>

In [14]:
#rename columns
df.rename(columns={"Region":"region", "GDP per capita (USD)":"gdp", 
                   "Unemployment Rate (%)":"umemploy_rate", 
                   "Education Expenditure per capita (USD)":"ed_expend",
                  "Healthcare Expenditure per capita (USD)":"health_expend",
                  "Crime Rate (per 1000 inhabitants)":"crime_rate"},
         inplace=True)

In [18]:
#View the dataframe
df

  region    gdp umemploy_rate ed_expend health_expend crime_rate
0      A  25000             5      1500          2000         10
1      B  22000             7      1200          1800         15
2      C  28000             4      1800          2200          8
3      D  20000             9      1000          1500         20
4      E  30000             3      2000          2500          5
5      F  26000             6      1600          2100         12
6      G  24000             8      1300          1900         18
7      H  27000             5      1700          2300          9
8      I  23000             4      1400          1700         14
9      J  29000             2      1900          2400          7